/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente, si el cuerpo tiene altura completa */
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% de la altura de la ventana */
}

main {
  width: 100%;
  max-width: 1200px; /* Controla el ancho máximo del main */
  margin: 20px; /* Añade márgenes alrededor */
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Incluye el padding dentro del ancho total */
}

h1 {
  text-align: center;
  color: #4CAF50;
  font-size: 2.5rem;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #666;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #4CAF50;
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

th {
  font-weight: bold;
}

td {
  font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    margin: 10px;
  }

  table {
    font-size: 0.8rem;
  }

  th, td {
    padding: 8px;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    text-align: center;
    color: #4CAF50;
    font-size: 1.5rem;
  }
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  tr:nth-child(even) {
    background: #f9f9f9;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
    text-align: right;
  }

  td:before {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
  }

  td:before {
    content: attr(data-label);
  }
}
